<h2>Game Stock details</h2>
<br>
<p>Title: <%=@game.name %></p>
<p>Publisher: <%=@game.game_publisher.publisher %></p>
<p>Description: <%=@game.description %></p>
<p>Stock: <%=@game.stock_quantity %></p>
<p>Buy Cost: £<%=@game.buy_cost %></p>
<p>Selling Price: £<%=@game.selling_price %></p>
