<h1>Publisher Search: <%=@publisher.publisher%></h1>
<br>
<% for game in @all_games %>
  <p>Title: <%=game.name %></p>
  <p>Publisher: <%=game.game_publisher.publisher %></p>
  <p>Genre: <%=game.genre %></p>
  <p>Stock Level:
  <% if game.is_stock_low == true && game.is_stock_empty == false %>
    Stock is low
  <% elsif game.is_stock_low == true && game.is_stock_empty == true %>
    Out of stock
  <% else %>
    In Stock
  <% end %></p>
  <p>Markup: <%=game.markup%>%</p>
  <p><a class="button" href="/games/<%=game.id %>">Show Details</a></p>
  <br>
<% end %>
